<div class="row">
  	<div class="col-xs-6">
		    <strong>Page:</strong>
		    <%= @image.page %>
		    <p><strong>ID:<%= @image.id %></strong></p>

		    <strong>Description:</strong>
		    <%=  @image.des %>
			<h2>Add a Description:</h2> </p>
			<%= form_for vozimage_path, :method => "put" do %>
			<%= text_field_tag(:des,params[:des],class: "form-control") %> </p>
			<%= submit_tag "Save", class: "btn btn-primary" %>
			<% end %>
	</div>
  <div class="col-xs-6">
<p>
    <%= image_tag @image.image %>
</p>

</div>
</div>