
    <div class="row">
        <div class="col-xs-6">
                <%= image_tag "intro.png", height: 'auto', width: '507' %>
            </div>
        <div class="col-xs-6">
        <div class= "group-banner-left" id="poem">
            <h2>
                Em trong mắt tôi !
            </h2>
            <h4>Em đẹp không cần son phấn </h4>
            <h4>Xinh... thật xinh… thật xinh, rất hiền</h4>
            <h4>Không quần jeans, giầy cao gót</h4>
            <h4>Em chọn riêng mình em áo dài duyên dáng.</h4>
            <h4>Giống như hoa kia bên thềm</h4>
            <h4>Ngát hương không khoe sắc màu</h4>
            <h4>Ngàn đóa hoa đang rực rỡ không sánh bằng.</h4>
            <h4>Nhẹ nhàng tung bay tà áo dài</h4>
            <h4>Em phụ nữ Việt</h4>
            <h4>Ánh lên bao rạng ngời người Phương Đông.</h4>
        </div>
        </div>
    </div>

