#poem {
	margin: 0px;
font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
font-size: 16px;
font-style: italic;
padding-left:20px;
}
 table {
    table-layout: fixed;
        overflow-x: hidden;
    overflow-y: hidden;
}

table tr td {
    word-wrap: break-word;
}
.panel {
display: block;
    margin-left: auto;
    margin-right: auto 
}